DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=123456

MAIL_HOST=smtp.163.com
MAIL_PORT=465
MAIL_USERNAME=your_email@163.com
MAIL_PASSWORD=your_email_auth_code
MAIL_FROM=your_email@163.com

JWT_SECRET=your_jwt_secret_key_at_least_256_bits_long
JWT_EXPIRATION=86400
